*{
    margin: 0;
    padding: 0;
    font-family: "Akshar", sans-serif;
}

body{
    background-color: rgb(176, 222, 249);
}

header{    
    z-index: 9999999;
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>ul{
    display: flex;    
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: 0;
    list-style: none;
}

header>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
}

header>ul>li>a{
    text-align: center;
    font-size: 22px;
    color: #fff;    
    text-decoration: none;
}

header>ul>li>a:hover{    
    text-decoration: underline;
}


header>ul>li>a>.logo{
    width: 200px;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/back-intro.png");
    height: 800px;
    position: relative;
    width: 100%;    
    z-index: 1;
    background-size: cover;
    background-position-y: center;
}

.container{
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container-fluid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.justify-between{
    justify-content: space-between !important;
}

.intro .title{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title>h1{
    color: #61D8E5;
    font-size: 60px;
}

.title>p{
    font-size: 18px;
    color: #fff;
}

.title>button{
    background: #00192B;
    color: #fff;
    font-size: 18px;
    padding: 8px 25px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;    
}

.intro::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(176, 222, 249,1));
}

.intro .lista{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro .item{
    width: 28%;
}

.intro .item>h3{
    color: #fff;
    font-size: 25px;
    text-align: center;
    text-shadow: 6px 5px 6px black;
}

.intro .item>img{
    width: 100%;
    box-shadow: 6px 5px 11px black;
    border-radius: 16px;
}

.topicos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

.bloco{
    width: 70%;
    border-radius: 15px;    
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 3px rgba(3, 36, 60, 1);
}

.bloco:nth-child(odd){    
    background: linear-gradient(45deg, rgba(19,67,89,1) 0%, rgba(3,36,60,1) 24%, rgba(3,36,60,1) 81%, rgba(19,67,89,1) 100%);
}

.bloco:nth-child(even){    
    background: linear-gradient(315deg, rgba(19,67,89,1) 0%, rgba(3,36,60,1) 24%, rgba(3,36,60,1) 81%, rgba(19,67,89,1) 100%);    
}

.bloco>h1{
    color: #61D8E5;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

.bloco>ul{
    list-style-image: url("images/Vector.png");    
    list-style-position: outside;
    width: 80%;
}

.bloco>ul>li{
    position: relative;
    margin-top: 20px;
}

.bloco>ul>li>p{
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: -3px;
}

.gap-80{
    grid-gap: 80px;
}

.secImage{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/backgroud.jpg");
    background-size: cover;
    background-position: center;
    height: 750px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.secImage::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(176, 222, 249,1));
}

.secImage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(176, 222, 249,1));
}

.secImage h1{
    color: #fff;
    font-size: 45px;
}

.secImage p{
    color: #fff;
    font-size: 20px;
    text-align: center;
    max-width: 800px;
    margin-top: 29px;
}

.aplicativo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 80px 0px;
}

.aplicativo .item>.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aplicativo .item{    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}
.aplicativo .item:nth-child(even){
    background: transparent;
}

.aplicativo .item:nth-child(odd){
    /* background: rgba(3,36,60,1); */
    background: radial-gradient(circle, rgba(19,67,89,1) 39%, rgba(3,36,89,1) 100%);
}

.aplicativo .item:nth-child(odd) .container{
    flex-direction: row-reverse;
}

.aplicativo .item>.container:nth-child(even){
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}


.aplicativo .item>.container>img{
    width: 50%;
}


.aplicativo .item>.container>div{    
    width: 44%;
    padding: 25px;
    border-radius: 25px;
    background: #efefef;
    box-shadow: 4px 3px 30px -10px #000;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.aplicativo .item:nth-child(odd) .container>div{        
    background: #042E46;    
}
.aplicativo .item:nth-child(odd) .container>div>h2{        
    color: #61D8E5  
}
.aplicativo .item:nth-child(odd) .container>div>p{        
    color: #fff
}

.aplicativo .item>.container>div>h2{
    font-size: 45px;
    color: #004679;    
}

.aplicativo .item>.container>div>ul{    
    list-style: inside;
    list-style-type: decimal-leading-zero;
    margin-top: 25px;
}
.aplicativo .item>.container>div>ul>li{
    padding: 10px 5px;
    border-bottom: 1px solid #505050;    
}

.aplicativo .item>.container>div>ul>li:last-child{
    border-bottom: 0;
}

#Tecnology{
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background: #03243C;
}

#TecnologyData{    
    width: 50%;
    height: -webkit-fill-available;    
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 85px;
    position: relative;
    z-index: 9999999;
}

#TecnologyData h1{    
    font-size: 35px;
    color: #fff;    
}

#cover{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9999;
    background-position: center !important;
    background-size: cover !important;
}

.navigation{
    width: 45%;
    position: relative;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: inherit;
    flex-direction: column;
    padding-right: 5%;
    box-sizing: border-box;
}

#animatedText {
    display: inline-block;
    overflow: hidden;    
    transition: transform 1s, opacity 1s;
    
}

.animated {
    display: inline-block;
    overflow: hidden;    
    transition: transform 1s, opacity 1s;
    font-size: 18px;
    color: #fff;
}

.hidden {
    transform: translateY(-150%);
    opacity: 0; 
}

@keyframes slideIn {
    from {
        transform: translateY(150%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

#cover {
    display: inline-block;
    transition: transform 1s, opacity 1s;    
}

.hiddenImg {
    transform: scale(0);
    opacity: 0;
    display: none;
}

.progressTime-container {
    width: 100%;
    background-color: #ddd;    
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 9999999;
}

.progressTime-bar {
    width: 0;
    height: 8px;
    background-color: rgba(3, 36, 60, 1);    
    animation: load 8s linear infinite;
}

@keyframes load {
    0% {
        width: 0;
    }
    99% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.progress {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress>p{
    margin-left: 10px;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}

.progress-container {
    width: 70%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;    
}

.progress-bar {
    width: 0;
    height: 8px;
    background-color: #61D8E5;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 5px 0 0 5px;
}

.containerItens{
    width: 100%;
    overflow: auto;    
    cursor: pointer;
}

.containerItens.active{
    cursor: grabbing;
}

.containerItens::-webkit-scrollbar {
    display: none; 
}


.itens{
    display: flex;
    width: 200%;
    padding: 10px 0px;
}

.itens>.item{
    width: 150px;
    height: 200px;
    background-size: cover !important;
    background-position: center !important;
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: 13px 5px 11px #000;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.itens>.item>.title{
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    -webkit-user-select: none;
    -ms-user-select: none;    
    user-select: none; 
}

.TecnologyTitle{    
    position: absolute;
    top: 40px;
    left: 45px;
    z-index: 999999;
    color: #fff;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: bold;
}

.buttons{    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}

.buttons button{
    background: rgba(255,255,255,.4);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
